<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Simple Curve</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        
        <div id="svgcontainer" ref="svgcontainer">
          <?xml version="1.0" encoding="UTF-8" standalone="no"?>
          <svg
            :width="width"
            :height="height"
             :viewBox="`${0} ${0} ${width} ${height}`"
             version="1.1"
             id="svg5"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:svg="http://www.w3.org/2000/svg">
            <defs
               id="defs2" />
            <g
               id="layer1"
              >
              <rect
                :style="`fill:${colors.main.c};fill-opacity:${colors.main.t/100};stroke:none;stroke-width:19.0448;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:38.0898, 19.0448, 38.0898, 19.0448, 57.1348, 19.0448, 19.0448, 19.0448;stroke-dashoffset:0;paint-order:markers fill stroke;stop-color:#000000`"
                 id="rect7291"
                 :width="width"
                 :height="height"
                 :x="0"
                 :y="0"
                 ry="0"
                 rx="0" />

              <path v-for="y in pctYLines"
                 :style="`fill:none;stroke:${colors.bgAxes.c};stroke-width:5;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:${colors.bgAxes.t/100}`"
                    :d="`M ${padding},${padding + (innerHeight)*(1-y)} h ${innerWidth}`"
                    :id="`yAxis-${y}`" />
              <path v-for="x in pctXLines"
                 :style="`fill:none;stroke:${colors.bgAxes.c};stroke-width:5;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:${colors.bgAxes.t/100}`"
                   :d="`M ${padding + (innerWidth)*x },${padding} v ${innerHeight}`"
                    :id="`xAxis-${x}`" />

              <!-- x axis-->
              <path
              :style="`fill:none;stroke:${colors.mainAxes.c};stroke-width:5;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:${colors.mainAxes.t/100}`"
                 :d="`M ${padding},${padding + (innerHeight)*(1-parsed.yOrigin)} h ${innerWidth}`"
                 id="yAxis" />



              <!-- y axis-->
              <path
              :style="`fill:none;stroke:${colors.mainAxes.c};stroke-width:5;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:${colors.mainAxes.t/100}`"
                :d="`M ${padding + (innerWidth)*parsed.xOrigin },${padding} v ${innerHeight}`"
                 id="xAxis" />
     
            
              <path v-if="selectDrawMode == 0"
              :style="`fill:none;fill-opacity:1;stroke:${colors.path.c};stroke-width:18.1696;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:${colors.path.t/100}`"
                 :d="`M ${pctPath.map(p=> ((innerWidth)*p[0]+padding)+','+((innerHeight)*(1-p[1])+padding)).join(' ')}`"
                 id="dPath" />
              <template v-else-if="selectDrawMode == 1">   
                <path v-for="p in pctPath"
              :style="`fill:${colors.path.c};fill-opacity:1;stroke:${colors.path.c};stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:${colors.path.t/100}`"
                 :d="`M ${((innerWidth)*p[0]+padding-blockWidth/2)},${((innerHeight)*(1-p[1])+padding)} h ${blockWidth} V ${padding + (innerHeight)*(1-parsed.yOrigin)+3*(p[2])} h ${-blockWidth} z`"
                 id="dPath" />
              </template> 
            </g>
          </svg>          
        </div>
        <div class="d-block">{{selectDrawMode}}</div>
        <div class="d-block"  v-for="(c, n) in colors">
          <input class="m-1" v-model="c.c" type="color"><input class="m-1" v-model="c.c"> <input class="m-1" type="number" min="0" max="100" v-model="c.t">({{n}} color )
         
        </div>

        <div class="d-block"><input class="m-1"   v-model="zoomOut"/>(zoom out from main points)</div>
        <div class="d-block">
          <textarea class="m-1"  v-model="points" cols="30" rows="10">

          </textarea>
        </div>
        <div class="d-block"><select v-model="selectDrawMode" class="m-1" ><option v-for="option,i in drawMode" :value="i">{{ option }}</option></select></div>
        <div class="d-block" v-if="selectDrawMode == 1"><input class="m-1" type="number"    v-model="blockWidth"/>(width of block)</div>


        <div class="d-block"><input class="m-1"  v-model="xMin"/><input class="m-1" v-model="xMax"/><input class="m-1"  v-model="yMin"/><input class="m-1"  v-model="yMax"/>(xMin,xMax,yMin,yMax)</div>
        <div class="d-block"><input class="m-1"   v-model="xLines"/>(x lines parallel with y axis)</div>
        <div class="d-block"><input class="m-1"   v-model="yLines"/>(y lines parallel with x axis)</div>

        <div class="d-block"><input class="m-1"  v-model="download"/>(file name)</div>
        <a class="m-1 btn btn-primary" id="downloadButton" :download="download" >Download</a>
        
    </div>
    
    <script>
      const { createApp } = Vue
    
      const coordinates = new RegExp('([-0-9.]+),([-0-9.]+)', 'mg');

      const alphaColor = new RegExp('(#[0-9a-zA-Z]{3,6})([0-9a-zA-Z]{1,2})?')
      const convertAlphaColor = function(rgba) {
        let m = rgba.match(alphaColor)
        if (m) {
          //||255 nan converted to 255, parseint(n,hex=16)
          let a = (((parseInt(m[2],16)||255))/255)
          return [m[1],a]
        }
        return ["#777",1]
      }

      function downloadSVG() {
        blob = new Blob([document.getElementById("svgcontainer").innerHTML], {type: "image/svg+xml"});
        document.getElementById("downloadButton").href = window.URL.createObjectURL(blob);
        //document.getElementById("viewButton").href = window.URL.createObjectURL(blob);
      }

      createApp({
        data() {
          return {
             colors:{
               main: {c:"#0077cc",t:100},
               path: {c:"#ee5555",t:100},
               mainAxes: {c:"#eeeeee",t:100},
               bgAxes: {c:"#55aaff",t:100},
             },
             drawMode:["path","block"],
             selectDrawMode:1,
             blockWidth:80,
             height:720,
             width:1280,
             padding:20,
             overlap:5,
             download:"simplecurve.svg",
             points: `-7,-7 -3,3 3,-3 7,7`,
             xMin:0,
             xMax:0,
             yMin:0,
             yMax:0,
             xLines: "5 -5",
             yLines: "5 -5",
             zoomOut: 10,
          }
        },
        mounted() {
          this.$nextTick(() => {
                downloadSVG()
          })
        },
        updated() {
            //hacky code by that just the way it is, using data update create a loop
            this.$nextTick(() => {
                downloadSVG()
            })
        },
        computed: {
              innerHeight() {
                return this.height-(this.padding*2)
              },
              innerWidth() {
                return this.width-(this.padding*2)
              },
              parsed() {
                let p = [...this.points.matchAll(coordinates)].map(m => [parseFloat(m[1]),parseFloat(m[2])]).sort((a,b)=> a[0] - b[0])
                //by starting with 0, the origin will always be in place
                let xMax = Math.max(p.reduce((r,test)=> (test[0]>r)?test[0]:r,0 ),this.xMax)
                let xMin = Math.min(p.reduce((r,test)=> (test[0]<r)?test[0]:r,0 ),this.xMin)
                let yMax = Math.max(p.reduce((r,test)=> (test[1]>r)?test[1]:r,0 ),this.yMax)
                let yMin = Math.min(p.reduce((r,test)=> (test[1]<r)?test[1]:r,0 ),this.yMin)
                
                //distance, strictly abs not required because we know which one is min and which is max
                let xDist = Math.abs(xMax - xMin)
                let yDist = Math.abs(yMax - yMin)

                let zoomOut = this.zoomOut/100
                xMax = xMax+xDist*zoomOut
                xMin = xMin-xDist*zoomOut
                yMax = yMax+yDist*zoomOut
                yMin = yMin-yDist*zoomOut

                xDist = Math.abs(xMax - xMin)
                yDist = Math.abs(yMax - yMin)

                let xOrigin = (0 - xMin)/xDist
                let yOrigin = (0 - yMin)/yDist

                return {points:p,xMin:xMin,xMax:xMax,yMin:yMin,yMax:yMax,xDist:xDist,yDist:yDist,xOrigin:xOrigin,yOrigin:yOrigin}
              },
              pctPath() {
                let parsed = this.parsed

                //xpct,ypath,ysign (-1,1)
                let pctPath = parsed.points.map(p=> [((p[0]-parsed.xMin)/parsed.xDist),(((p[1]-parsed.yMin)/parsed.yDist)),(Math.abs(p[1])/p[1])])
              
                return pctPath  
              },
              pctXLines() {
                let parsed = this.parsed
                let xLines = this.xLines.trim().split(" ").map(x=> (parseFloat(x)-parsed.xMin)/parsed.xDist)
                return xLines
              },
              pctYLines() {
                let parsed = this.parsed
                let yLines = this.yLines.trim().split(" ").map(y=> (parseFloat(y)-parsed.yMin)/parsed.yDist)
                return yLines
              }

        }
      }).mount('#app')
    </script>
  </body>
</html>


